/*<style>*/
			/*.li1{
				color:green;
			}*/
				.nav-links {
					display:inline-block;
						text-align: center;
				}
				.nav-link-container{
					text-align: center;
				}

				#pg2{
					color:blue;
					border:double blue;


				}

				#pg1{
					color: green;
				}

				}
				.wrap-list{
					border:7px dashed green;
						width: 27%;
				}	
				.tg{
					border:double blue;

				}
						.leftside{
							width:65%;

						}
						.img{
							align-items: 75%;
						
						{							

/*</style>*/
